/* Responsive breakpoints */
//TODO remove this
$MQMobile: 719px !default;
$MQMobileNarrow: 419px !default;

/* Code languages */
$codeLang: 'c' 'cpp' 'cs' 'css' 'dart' 'docker' 'fs' 'go' 'html' 'java' 'js' 'json' 'kt' 'less' 'makefile' 'md' 'php' 'py' 'rb' 'rs' 'sass' 'scss' 'sh' 'styl' 'ts' 'toml' 'vue' 'yml' !default;

/* Colours */
$primary: $doi-primary;
$secondary: $doi-secondary;

$link-color: $doi-action;
$link-hover-color: lighten($link-color, 15%);
$link-decoration: none;

/* General */
$enable-shadows: true;

/* Fonts */
$font-family-sans-serif: proxima-nova, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: "Hack", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-weight-semi-bold: 600;

/* Cards */
$card-box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.04);
$card-border-color: rgb(245, 245, 245);
$card-border-radius: 12px;

/* Spacings */
$component-spacing: 4rem;

/* Font sizes */
$font-size-base: 1.125rem;
$h1-font-size: $font-size-base * 3.333;
$h2-font-size: $font-size-base * 2;
$h3-font-size: $font-size-base * 1.667;
$h4-font-size: $font-size-base * 1.333;
$h5-font-size: $font-size-base * 1.167;

/* Table */
$table-striped-order: even;

