.btn {
  text-decoration: none;
}

.btn-primary {
  @include button-variant($primary, $primary, white, $doi-primary-hover, $doi-primary-hover, $disabled-color: white, $disabled-background: $doi-primary-disabled, $disabled-border: $doi-primary-disabled);

  box-shadow: none;

  .btn-check:focus + &,
  &:focus {
    box-shadow: 0 0 0 $btn-focus-width $doi-primary-outline;
  }
}

.btn-outline-primary {
  @include button-outline-variant($doi-primary, $doi-primary-hover, white, $doi-primary-hover);

  box-shadow: none;

  .btn-check:focus + &,
  &:focus {
    box-shadow: 0 0 0 $btn-focus-width $doi-primary-outline;
  }

  &:disabled,
  &.disabled {
    color: $doi-primary-disabled;
    border-color: $doi-primary-disabled;
    background-color: transparent;
  }
}

.btn-promo {
  @include button-variant($doi-promo, $doi-promo, $doi-dark-blue, $doi-secondary, $doi-secondary, white);

  box-shadow: none;

  &:focus,
  &:hover,
  &:active {
    box-shadow: none;
  }
}

.btn-nav-menu {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: $font-weight-semi-bold;

  svg {
    width: 16px;
    height: 16px;
  }

  .navigate-label {
    flex-grow: 1;
    text-align: right;
  }

  &:focus,
  &:hover,
  &:active {
    svg {
      path {
        fill: #fff;
      }
    }
  }
}
