@each $slug, $color in $doi-colors {
  .bg-#{$slug} {
    background-color: $color !important;
  }

  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $grays {
  .bg-gray-#{$slug} {
    background-color: $color;
  }

  .text-gray-#{$slug} {
    color: $color;
  }
}

@each $slug, $color in $brand-colors {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $greens {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $limes {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $reds {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $purples {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $blues {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $oranges {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $blacks {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}

@each $slug, $color in $data-colors {
  .bg-#{$slug} {
    background-color: $color !important;
  }
  $table-variants: map-merge($table-variants, (
    $slug: $color
  ))
}