/* CUSTOM DOI VARIABLES */
/* Primary Colours */
$doi-primary: #2D587D;
$doi-primary-hover: #1D405A;
$doi-primary-outline: #237AAB;
$doi-primary-disabled: #D1D7E0;
$doi-secondary: #1F7D7B;
$doi-promo: #42C1C7;
$doi-action: #9A3D92;
$doi-dark-blue: #0B253B;
$doi-light-blue: #E8F4FA;
$doi-snow: #F8FBFB;
$doi-light-teal: #ABD7DF;
$doi-light-teal-30: #E6F3F5;

$doi-colors: (
  "promo": $doi-promo,
  "action": $doi-action,
  "dark-blue": $doi-dark-blue,
  "light-blue": $doi-light-blue,
  "snow": $doi-snow,
  "light-teal": $doi-light-teal,
  "light-teal-30": $doi-light-teal-30,
);

/* Gray Colours */
$gray-50: #fafafa;
$gray-100: #fafafb;
$gray-200: #f5f5f5;
$gray-300: #eaeaea;
$gray-400: #c4c4c4;
$gray-500: #807e7e;
$gray-600: #605f5f;
$gray-700: #3f3b3b;
$gray-800: #212121;
$gray-900: #121212;

/* Green colours */
$greens: (
  "green-1": #033133,
  "green-2": #0B3E42,
  "green-3": #05615F,
  "green-4": #1F7D7B,
  "green-5": #42C1C7,
  "green-6": #99D8DE,
  "green-7": #C6E8EB,
  "green-8": #DDF1F2,
  "green-9": #EDF9F9,
);


$limes: (
  "lime-5": #D6E273,
  "lime-6": #E3E98D,
  "lime-7": #EDF0B6,
  "lime-8": #F4F7DC,
);


$reds: (
  "red-1": #731312,
  "red-2": #991C1F,
  "red-3": #BC2026,
  "red-4": #F05655,
  "red-5": #F58C8C,
  "red-6": #F8B3B0,
  "red-7": #FCD8D6,
  "red-8": #FDE6E4,
  "red-9": #FFF0F0,
);


$purples: (
  "purple-1": #391831,
  "purple-2": #5B2053,
  "purple-3": #742B75,
  "purple-4": #9A3D92,
  "purple-5": #AC5BA3,
  "purple-6": #BD89BD,
  "purple-7": #D3B2D5,
  "purple-8": #EFDEED,
  "purple-9": #FCF0FA,
);


$blues: (
  "blue-1": #0C2444,
  "blue-2": #1D405A,
  "blue-3": #2D587D,
  "blue-4": #237AAB,
  "blue-5": #2F9CCC,
  "blue-6": #9BD3F9,
  "blue-7": #C7EBFF,
  "blue-8": #E7F5FF,
  "blue-9": #EBF7FC,
);


$oranges: (
  "orange-1": #48140D,
  "orange-2": #722514,
  "orange-3": #993E23,
  "orange-4": #CA6545,
  "orange-5": #F09073,
  "orange-6": #F9B099,
  "orange-7": #FDD7CA,
  "orange-8": #FEE7E0,
  "orange-9": #FFF3F0,
);


$blacks: (
  "black-1": #000000,
  "black-2": #191919,
  "black-3": #333333,
  "black-4": #4D4D4D,
  "black-5": #666666,
  "black-6": #999999,
  "black-7": #CCCCCC,
  "black-8": #E6E6E6,
  "black-9": #F2F2F2,
);


$data-colors: (
  "data-1": #0766A5,
  "data-2": #960000,
  "data-3": #4999E1,
  "data-4": #0B474D,
  "data-5": #706E6E,
  "data-6": #61008E,
  "data-7": #CE5958,
  "data-8": #001B35,

);


/* Brand Colours */
$national-measurement-institute: #7B0B15;

$brand-colors: (
  "anti-dumping-commission": #202A4C,
  "anti-dumping-review-panel": #202A4C,
  "aus-industry": #254F90,
  "aus-industry-participation-authority": #005677,
  "aus-ska-office": #243E86,
  "aus-space-agency": #004976,
  "aus-space-discovery-centre": #004976,
  "critical-minerals-office": #A62B23,
  "industry-growth-centres": #005677,
  "industry-innovation-science": #6334D8,
  "inspiring-aus": #95CDE8,
  "national-measurement-institute": $national-measurement-institute,
  "office-chief-economist": #005DAF,
  "office-special-adviser": #005677,
  "pm-prize": #7E2923,
  "naic": #237AAB,
);
