$variations-menu-width: 12rem;

.c-code-demo {
  border: 1px solid #000;
  border-radius: $card-border-radius;
  background-color: #fff;
  position: relative;
  overflow: hidden;

  &.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
    z-index: 1000;
  }

  .menu-container {
    position: relative;
    overflow: hidden;
  }

  .top-container {
    background-color: $gray-200;
    display: flex;
    justify-content: flex-end;
    padding: 1rem 1.25rem;
  }

  .spacer {
    width: 0;
    transition: width 0.3s ease;

    &.show {
      width: $variations-menu-width;
    }
  }

  .btn-icon {
    cursor: pointer;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
  }

  .preview-container {
    padding: 1.5rem;
    position: relative;
    min-height: 256px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;

    pre {
      margin: 0;
      padding: 0;
      white-space: normal;
      font-size: initial;
      font-family: inherit;
      line-height: inherit;
      border-radius: 0;
      overflow: visible;
    }

    .spacer {
      height: 100%;
    }
  }

  .variations-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: $variations-menu-width;
    right: -$variations-menu-width;
    border-left: 1px solid #000;
    transition: transform 0.3s ease;
    background-color: #fff;
    border-radius: 0 $card-border-radius 0 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .close-container {
      background-color: $gray-200;
      display: flex;
      justify-content: flex-end;
      padding: 1rem 1.25rem;
      flex-grow: 0;
    }

    .scroll-container {
      flex-grow: 1;
      overflow: scroll;
      padding: 0.5rem;
    }

    &.show {
      transform: translateX(-100%);
    }
  }

  .bottom-container {
    display: flex;
    justify-content: flex-end;
    background-color: $gray-200;
    padding: 1rem 1.25rem;
  }

  .code-container {
    pre {
      margin: 0;
    }
  }

  .hidden-container {
    display: none;
  }
}

.fullscreen-container {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: #fff;

  &.show {
    display: block;
  }
}

div[class*=language-] {
  border-radius: 0;

  &.line-numbers-mode .line-numbers {
    padding: 1.5rem 0;
    font-size: 1em;
    line-height: 24px;

    .line-number {
      line-height: 24px;
      height: 24px;
    }
  }
}

.theme-default-content pre, .theme-default-content pre[class*=language-] {
  padding: 1.5rem;

  code {
    line-height: 24px;
  }
}
