.cta-links-container {
  .btn-primary {
    &.hover {
      background-color: $doi-primary-hover;
      border-color: $doi-primary-hover;
    }

    &.focus {
      border-color: $doi-primary-hover;
      box-shadow: 0 0 0 $btn-focus-width $doi-primary-outline;
    }
  }

  .btn-outline-primary {
    &.hover {
      border-color: $doi-primary-hover;
    }

    &.focus {
      border-color: $doi-primary-hover;
      box-shadow: 0 0 0 $btn-focus-width $doi-primary-outline;
    }
  }

  a {
    text-decoration: none;

    &.link-secondary {
      color: black;

      svg {
        opacity: 0;
      }

      &:hover,
      &.hover {
        color: black;

        svg {
          opacity: 100%;

          path {
            fill: black;
          }
        }
      }

      &:focus,
      &.focus {
        color: black;

        svg {
          opacity: 100%;

          path {
            fill: black;
          }
        }
      }
    }

    &.hover {
      color: darken($doi-action, 15%);
      text-decoration: underline;
      text-underline-offset: 0.125rem;
    }

    &.focus {
      text-decoration: underline;
      text-underline-offset: 0.125rem;
      color: darken($doi-action, 15%)
    }

    .disabled {
      color: $doi-action;
      pointer-events: none;
      opacity: 0.5;
      text-decoration: none;
    }
  }
}