.c-page-footer {
  background-color: var(--doi-cyan);
  color: #323232;

  .row {
    justify-content: center;
  }

  .footer-wrap {
    padding: 2rem 2.5rem;
  }

  h2 {
    font-size: 36px;
    border-bottom: none;
    margin-bottom: 1.5rem;
    font-weight: var(--font-weight-semi-bold);
  }

  .lead-text {
    font-size: var(--font-size-lead-text);
    margin-bottom: 2rem;
  }

  a {
    color: var(--c-text-accent);
    text-decoration: underline;
  }

  .btn-arrow {
    svg {
      height: 17px;
    }
  }
}
