.c-page-header {
  background-color: var(--doi-dark-blue);
  color: var(--c-text-navbar);
  display: flex;
  flex-direction: column;
  width: 100%;

  .content {
    padding: 15rem var(--navbar-padding-h) 2.5rem var(--navbar-padding-h);
  }

  h1 {
    border-bottom: 1px solid $doi-primary;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    font-weight: var(--font-weight-semi-bold);
    font-size: 3.75rem;
  }

  .lead-text {
    font-size: var(--font-size-lead-text);
    line-height: 1.2;
    margin-bottom: 0;
    max-width: 1200px;
  }
}
