$primary: #285576 !default;
$secondary: #3e837c !default;
$doi-promo: #7ac4c3;
$doi-action: #a44d8e;

$link-color: $doi-action !default;
$link-hover-color: lighten($link-color, 15%) !default;
$link-decoration: none;

$font-family-sans-serif: proxima-nova, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace: "Hack", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;

$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;

@import url("https://use.typekit.net/rnj7aix.css");
@import "hack-subset";
@import "node_modules/bootstrap/scss/bootstrap";

html {
  &.dark {
    body {
      background-color: var(--c-bg);
      color: var(--c-text);
    }
  }
}

header.navbar {
  position: fixed;
  padding: var(--navbar-padding-v) var(--navbar-padding-h);
}

/* Content width fix */
.theme-default-content:not(.custom) {
  box-sizing: content-box;
}

/* Table width fix */
table.table {
  display: table;
}

