.page-content {
  padding: 0 2rem;
}

.content-container {
  padding-top: var(--navbar-height);
}

.container-fluid {
  --bs-gutter-x: 1.5rem;
  width: 100%;
  padding-right: var(--bs-gutter-x, 1rem);
  padding-left: var(--bs-gutter-x, 1rem);
  margin-right: auto;
  margin-left: auto;
}

.content-group {
  margin-bottom: $component-spacing;
}
