//.navbar {
//  position: fixed;
//  z-index: 20;
//  top: 0;
//  left: 0;
//  right: 0;
//  height: var(--navbar-height);
//  box-sizing: border-box;
//  border-bottom: 1px solid var(--c-border);
//  background-color: var(--c-bg-navbar);
//  transition: background-color var(--t-color), border-color var(--t-color);
//}

.navbar {
  --navbar-line-height: calc(var(--navbar-height) - 2 * var(--navbar-padding-v));
  line-height: var(--navbar-line-height);
  background: var(--c-bg-navbar);
  border-bottom: none;
  position: fixed;
  padding: var(--navbar-padding-v) var(--navbar-padding-h);

  .navbar-brand-wrap {
    a {
      display: block;
    }
  }

  .logo {
    height: 72px;
    width: auto;
  }

  .site-name {
    display: none;
  }

  .navbar-items-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 4rem;
    flex-grow: 1;
    position: unset;

    .navbar-items {
      flex-grow: 1;
    }

    .search-box {
      flex: 0 0 auto;
      vertical-align: top;
    }
  }

  .navbar-dropdown-link {
    display: inline-block;
  }

  .navbar-dropdown-wrapper {
    display: none;
  }
}

@media (max-width: $MQMobile) {
  .navbar {
    .navbar-brand-wrap {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-grow: 1;
    }

    .navbar-items-wrapper {
      background-color: var(--c-bg-navbar);
      padding: 3rem;
      position: absolute;
      top: var(--navbar-height);
      left: 0;
      right: 0;
      height: calc(100vh - var(--navbar-height));
      overflow-y: scroll;
      align-items: flex-start;
      justify-content: flex-start;
      display: none;
    }

    .logo {
      width: 165px;
      height: auto;
      margin-right: 0;
    }

    .navbar-dropdown-link {
      display: none;
    }

    .navbar-dropdown-wrapper {
      display: block;
    }
  }

  .theme-container.sidebar-open {
    .navbar-items-wrapper {
      display: flex;
    }
  }
}

/**
 * navbar-items
 */
.navbar-items {
  display: inline-block;

  a {
    display: inline-block;
    line-height: 1.23;
    color: var(--c-text-navbar);

    &:hover,
    &.router-link-active {
      color: var(--c-text-navbar);
    }
  }

  .navbar-item {
    position: relative;
    display: inline-block;
    margin-left: 1.5rem;
    line-height: 1.23;

    &:first-child {
      margin-left: 0;
    }
  }
}

@media (max-width: $MQMobile) {
  .navbar-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: unset;

    .navbar-item {
      margin-left: 0;
      padding: 1rem 0;
      width: 100%;
      font-size: 21px;
      font-weight: $font-weight-semi-bold;
      border-bottom: 1px solid rgba(196, 196, 196, 0.3);
    }
  }
}

@media (min-width: $MQMobile) {
  .navbar-items a {
    &:hover,
    &.router-link-active {
      color: var(--c-text-navbar);
    }
  }

  .navbar-item > a {
    &:hover,
    &.router-link-active {
      margin-bottom: -2px;
      border-bottom: 2px solid var(--doi-action);
    }
  }
}

/**
 * toggle sidebar button
 */
.toggle-sidebar-button {
  position: unset;
  padding: 0;
  display: block;
  cursor: pointer;

  .icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1.25rem;
    height: 1.25rem;
    cursor: inherit;

    span {
      display: inline-block;
      width: 100%;
      height: 2px;
      border-radius: 2px;
      background-color: #fff;
      transition: transform var(--t-transform);

      &:nth-child(2) {
        margin: 6px 0;
      }
    }
  }

  @media (min-width: $MQMobile) {
    display: none;
  }
}

/**
 * toggle dark button
 */
.toggle-dark-button {
  display: flex;
  margin: auto;
  margin-left: 1rem;
  border: 0;
  background: none;
  color: var(--c-text-navbar);
  opacity: 0.8;
  cursor: pointer;

  &:hover {
    opacity: 1;
  }

  .icon {
    width: 1.25rem;
    height: 1.25rem;
  }
}

.DocSearch {
  transition: background-color var(--t-color);
}
