.page {
  min-height: calc(100vh - var(--navbar-height));
  padding: 2rem 0 0 0;
  display: block;

  .theme-default-content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-top: 0.5rem;
      padding-top: 1rem;
      margin-bottom: 0;

      &:first-child {
        margin-bottom: 1rem;

        + p,
        + pre,
        + .custom-container {
          margin-top: 2rem;
        }
      }
    }
  }
}

.page-meta {
  padding: 1rem 0;
  margin: 0;
  max-width: none;
  overflow: auto;

  .meta-item {
    cursor: default;
    margin-top: 0.8rem;

    .meta-item-label {
      font-weight: 500;
      color: var(--c-text-lighter);
    }

    .meta-item-info {
      font-weight: 400;
      color: var(--c-text-quote);
    }
  }

  .edit-link {
    display: inline-block;
    margin-right: 0.25rem;
  }

  .last-updated {
    float: none;
  }
}

@media (max-width: $MQMobile) {
  .page-meta {
    .last-updated {
      font-size: 0.8em;
      float: none;
    }

    .contributors {
      font-size: 0.8em;
    }
  }
}

.page-nav {
  padding-top: 1rem;
  padding-bottom: 0;

  .inner {
    min-height: 2rem;
    margin-top: 0;
    border-top: 1px solid var(--c-border);
    transition: border-color var(--t-color);
    padding-top: 1rem;
    overflow: auto;
  }

  .prev {
    a:before {
      content: '←';
    }
  }

  .next {
    float: right;

    a:after {
      content: '→';
    }
  }
}
