/* Table width fix */
table.table {
  display: table;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;
  transition: border-color var(--t-color);

  &.table > :not(:first-child) {
    border-top: none;
  }
}

thead, tbody {
  &.borderless {
    tr {
      border-bottom: none;
      width: 100%;

      td {
      }
    }
  }
}

tr {
  border-bottom: 1px solid var(--c-border-dark);
  transition: border-color var(--t-color);

  &:nth-child(2n) {
    background-color: transparent;
  }
}

th,
td {
  padding: 0.6em 1em;
  border: none;
  transition: border-color var(--t-color);
}