/* Table width fix */
table.table {
  display: table;
}

table {
  border-collapse: collapse;
  margin: 1rem 0;
  display: block;
  overflow-x: auto;

  &.table-row-space-lg {
    tr {
      margin-bottom: 1.5rem;
    }
  }
}

tr {
  &:nth-child(2n) {
    background-color: transparent;
  }
}

.row-heading {
  @extend .h4;
}
