.card {
  box-shadow: none;

  .card-img-top {
    position: relative;
    height: 0;
    margin-bottom: 1.5rem;
    padding-bottom: 84.64%;

    @include media-breakpoint-up(sm) {
      padding-bottom: 79.32%;
    }

    @include media-breakpoint-up(md) {
      padding-bottom: 51.88%;
    }
  }

  @include media-breakpoint-up(lg) {
    &.card-sm {
      .card-img-top {
        padding-bottom: 79.32%;
      }
    }

    &.card-xs {
      .card-img-top {
        padding-bottom: 84.64%;
      }
    }
  }

  .img-wrap {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  > .list-group {
    padding: 0;
    margin: 0;
    border-color: $gray-500;

    .list-group-item {
      display: flex;
      font-size: 15px;
      padding: 1rem 0;
    }

    .icon {
      margin-right: 1rem;
    }

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &--inline {
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $gray-300;

    img {
      height: auto;
    }
  }
}

.card-body {
  padding: 0;
}

.card-title {
  @include heading-small;
}

.card-subtitle {
  @include heading-extra-small-caps;

  margin-top: 0;
  margin-bottom: $card-title-spacer-y * .5;
}

.card-text {
  margin-bottom: $card-title-spacer-y * .5;
}

.card-link {
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;

  svg {
    width: 13px;
    height: auto;
  }
}

.featured-editorials {
  padding: 3rem 0;
}

.biography-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;

  img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
  }

  .biography-content {
    padding: 1rem 0 0 0;
  }

  .biography-name {
    @include heading-small;

    color: $primary;
    margin-bottom: 10px;
  }

  .biography-position {
    @include body-large;

    color: $secondary;
  }

  &--full {
    text-align: left;

    .biography-content {
      margin: 2rem 0 0 0;
      padding: 2rem 0 0 0;
      border-top: 1px solid #57575A;
    }
  }

  &--secondary {
    flex-direction: row;
    text-align: left;

    .biography-content {
      margin: 0 0 0 2rem;
      padding: 0 0 0 2rem;
      border-left: 3px solid $primary;
    }

    &.biography-card--full {
      align-items: flex-start;

      .biography-content {
        margin: 0 0 0 2rem;
        padding: 0 0 0 2rem;
        border-top: none;
        border-left: 1px solid #57575A;
      }
    }
  }

  &--card {
    text-align: left;
    flex-direction: row;
    border: 1px solid $gray-300;
    background: $doi-snow;
    border-radius: 4px;
    padding: 1rem;

    .biography-content {
      padding: 0 0 0 0.5rem;
    }

    .biography-position {
      @include body-small;

      color: $body-color;
    }
  }

  &.offset {
    @include media-breakpoint-up(lg) {
      margin-left: -2rem;
      margin-top: -4rem;
    }
  }

  &.border-promo {
    img {
      border: 4px solid $doi-promo;
    }
  }
}

.navigation-card {
  border-radius: 4px;
  box-shadow: 0 12px 16px rgba(40, 41, 61, 0.0364);
  background-color: $doi-snow;

  .navigation-card-title {
    @include heading-small;

    margin-bottom: 0.5rem;
  }

  .navigation-card-content {
    display: flex;
    flex-direction: column;
  }

  .img-wrap {
    width: 100%;
  }

  img {
    aspect-ratio: 16 / 9;
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 4px 4px 0 0;
  }

  .navigation-card-body {
    padding: 1rem;
  }

  &--inline {
    .navigation-card-content {
      flex-direction: row;
    }

    .img-wrap {
      width: 33%;
    }

    img {
      border-radius: 4px 0 0 4px;
    }

    .navigation-card-body {
      width: 75%;
    }
  }
}

.featured-card {
  padding: 2rem;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 4px;

  .card-body {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 2rem;
    border-radius: 4px;
    max-width: 500px;
  }

  .card-title {
    @include display-small;

    margin-bottom: 100px;
  }

  a {
    font-weight: $font-weight-semi-bold;
    width: max-content;
  }

  &--right {
    align-items: flex-end;

    .card-body {
      align-items: flex-start;
    }
  }

  &--no-bg {
    .card-body {
      background: transparent;
    }

    .card-title {
      @include heading-large;

      background: #fff;
      padding: 8px 12px;
    }

    .card-subtitle {
      @include body-medium;

      background: #fff;
      padding: 8px 12px;
      width: max-content;
    }

    .line-wrap {
      width: 100%;

      .link-icon {
        span {
          svg {
            width: 33px;
            height: 18px;
            color: $doi-action;
          }
        }
      }
    }

    a {
      display: inline;
      font-weight: $font-weight-semi-bold;
      background-color: #fff;
      font-size: 24px;
      line-height: 2;
      letter-spacing: -0.2px;
      padding: 0 8px;
      color: $body-color;
    }
  }

  &--right {
    .card-body {
      align-items: flex-start;
    }
  }
}

.featured-card-inline {
  border-radius: 4px;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 0 0 4px;
  }

  .card-title {
    @include display-small;
  }

  .card-text {
    @include body-large;
  }

  .card-body {
    padding: 2rem;
    background: $gray-200;
    height: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0 4px 4px 0;
  }

  .link-wrap {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .btn {
    width: max-content;
  }

  &--right {
    .row {
      flex-direction: row-reverse;
    }

    img {
      border-radius: 0 4px 4px 0;
    }

    .card-body {
      border-radius: 4px 0 0 4px;
    }
  }
}

.event-card {
  position: relative;
  height: 100%;
  border-radius: 4px;

  .card-subtitle {
    @include body-small;

    color: $body-color;
  }

  .card-body {
    @include heading-small;

    z-index: 1;
    background: #fff;
    padding: 1rem;
    border-radius: 0 4px 4px 0;
    margin: 200px 3rem 3rem 0;
  }

  a {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  svg {
    width: 26px;
    height: 16px;
  }

  .card-summary {
    @include body-medium;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-weight: $font-weight-semi-bold;
    background: rgba($primary, 0.9);
    color: #fff;
    border-radius: 4px;
    z-index: 2;
    padding: 2rem 1.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 300ms ease-in-out;
    text-overflow: ellipsis;
    overflow-y: scroll;
  }

  &:hover {
    .card-summary {
      opacity: 1;
      visibility: visible;
    }
  }
}

.promotional-cards {
  padding: 75px 0;

  .card-img-top {
    margin-bottom: 8px;
  }

  .card-subtitle {
    @include body-small;

    background-color: #fff;
    padding: 0 12px;
    width: max-content;
    margin-bottom: 8px;
  }

  .card-title {
    @include body-medium;

    font-weight: $font-weight-semi-bold;
    display: inline;
    background-color: #fff;
    color: $body-color;
  }

  svg {
    width: 13px;
    height: auto;
  }
}

.rfq-card {
  text-align: center;
  background-color: $doi-snow;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 250px;

  .card-img-top {
    margin-bottom: 8px;
    padding-bottom: 34.84%;
  }

  img {
    border-radius: 4px 4px 0 0;
  }

  .card-body {
    padding: 8px;
  }

  .card-title {
    @include body-medium;

    font-weight: $font-weight-semi-bold;
    margin-bottom: 8px;
  }

  .card-subtitle {
    @include body-small;

    text-transform: none;
    margin-bottom: 1.25rem;
  }

  a {
    font-weight: $font-weight-semi-bold;
  }

  .btn-quote {
    @include button-variant($national-measurement-institute, $national-measurement-institute, #fff);

    font-weight: $font-weight-semi-bold;
  }

  &--no-img {
    text-align: left;
    max-width: unset;

    .card-body {
      padding: 40px;
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      align-items: flex-start;

      @include media-breakpoint-up(md) {
        flex-direction: row;
        align-items: center;
      }
    }

    .card-title {
      @include heading-large;
    }
  }
}

.snippet-card {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  border: 0.5px solid $gray-400;

  .card-header {
    padding: 1rem 2rem;
    font-size: 14px;
    max-width: 380px;
    border-radius: 4px 0 4px 0;
  }

  .card-body {
    padding: 1rem 2.375rem;

    a {
      color: $body-color;
      font-weight: $font-weight-semi-bold;
    }
  }

  .card-featured-link {
    @include body-large;

    background: $doi-light-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 38px;
    font-weight: $font-weight-semi-bold;
  }

  > .list-group {
    padding: 8px 38px;

    .list-group-item {
      padding: 20px 0;
    }

    a {
      &:hover {
        color: $doi-action;
      }
    }
  }
}

.adc-card {
  border-radius: 4px;

  @include media-breakpoint-up(md) {
    border: 1px solid $gray-300;
  }

  .card-header-wrap {
    display: flex;
    flex-direction: column;
    font-size: 14px;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      align-items: center;
    }
  }

  .card-header {
    padding: 11px 30px;
    max-width: 380px;
    width: max-content;
    border-radius: 4px 0 4px 0;
    background: rgba($doi-secondary, 0.2);
  }

  .timestamp {
    color: $gray-500;

    @include media-breakpoint-up(md) {
      padding-left: 1rem;
    }
  }

  .card-body {
    @include body-large;

    padding: 0;

    @include media-breakpoint-up(md) {
      padding: 50px 30px;
    }
  }

  thead {
    @include media-breakpoint-down(md) {
      display: none;
    }

    th {
      font-weight: $font-weight-base;
    }
  }

  tbody {
    @include media-breakpoint-down(md) {
      tr {
        display: flex;
        flex-direction: column;
      }
    }
  }

  td {
    font-weight: $font-weight-semi-bold;
    padding: 8px 0;

    @include media-breakpoint-up(md) {
      padding: 8px 16px;
    }

    .label {
      display: inline-block;
      margin-right: 4px;
      font-weight: $font-weight-base;

      @include media-breakpoint-up(md) {
        display: none;
      }
    }
  }

  .cta-wrap {
    display: flex;
    justify-content: flex-start;
    padding: 8px;

    @include media-breakpoint-up(md) {
      justify-content: flex-end;
    }
  }
}

.search-landing-card {
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid $gray-400;

  .tags {
    @include caption-bold;

    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $gray-500;
    padding: 0 0 2rem 0;
    margin: 0;

    li {
      border-right: 1px solid $gray-500;
      padding-right: 8px;
      margin-right: 8px;

      &:last-child {
        border-right: none;
      }
    }
  }
}