.navbar-brand {
  flex-grow: 1;
  text-align: center;
  justify-content: center;

  img {
    height: auto;
    width: 180px;
    object-fit: contain;
  }

  @include media-breakpoint-up(lg) {
    flex-grow: 0;

    img {
      width: 220px;
    }
  }
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #fff;
  font-weight: $font-weight-bold;
  text-decoration: none;
  border-radius: $btn-border-radius;

  &:hover {
    color: #fff;
    background-color: $primary;
  }

  @include media-breakpoint-up(lg) {
    color: rgb(50, 50, 50);
    font-size: 12px;
    padding-left: 0.25rem;
    padding-right: 0.25rem;
  }

  @include media-breakpoint-up(xl) {
    font-size: 14px;
  }

  @include media-breakpoint-up(xxl) {
    font-size: 16px;
    padding-left: $navbar-nav-link-padding-x;
    padding-right: $navbar-nav-link-padding-x;
  }
}

.navbar-toggler {
  &:focus {
    box-shadow: none;
  }
}

.navbar-toggler-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-collapse {
  transition: all 400ms ease-in-out;

  .icon {
    svg {
      width: 13px;

      path {
        fill: #fff;
      }
    }
  }

  .mobile-close {
    padding: 2rem;
    line-height: 1;
  }

  &.collapsing,
  &.show {
    background: $primary;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    visibility: visible;

    a {
      color: #fff;
    }
  }
}

.navbar-nav {
  margin: 0;
  padding: 0 2rem;

  @include media-breakpoint-up(lg) {
    padding: 0;
  }
}

.navbar {
  @include media-breakpoint-down(md) {
    padding-left: 1.5rem;
  }

  .header-wrap {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: flex-start;
  }

  .search-wrap {
    display: flex;
    border-left: 1px solid rgba(87, 87, 90, 0.2);
    padding-left: $navbar-nav-link-padding-x;
    padding-right: $navbar-nav-link-padding-x;
  }

  // mega menu
  &.navbar-expand-lg {
    .dropdown-menu {
      position: fixed;
      top: 88px;
      bottom: 0;
      left: 0;
      right: 0;
      box-shadow: none;
      background-color: $primary;
      color: #fff;
      padding: 0 2rem;
      border: none;
      border-radius: 0;
      margin: 0;

      @include media-breakpoint-up(lg) {
        top: 100px;
        bottom: unset;
        padding: 3rem 2rem;
      }

      a {
        color: #fff;
        padding-left: 13px;
        font-size: 15px;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
      }

      .mega-menu-label {
        border-left: 5px solid #fff;

        a {
          padding-left: 8px;
          font-weight: $font-weight-semi-bold;
        }
      }

      .main-row {
        --bs-gutter-x: 4rem;

        > [class*="col-"] {
          border-left: 1px solid rgba(255, 255, 255, 0.5);

          &:first-child {
            border-left: none;
          }
        }
      }

      .content-group {
        margin-bottom: 4rem;
      }

      .icon {
        margin-left: 7px;
      }
    }
  }
}