.paginate {

  @include body-small();
  font-weight: $font-weight-bold;
  color: $gray-500;

  @include media-breakpoint-up(xs) {
    .result-container {
      margin-bottom: 14px;
    }
  }

  @include media-breakpoint-up(md) {
    display: flex;
    position: relative;
    justify-content: flex-end;

    .result-container {
      position: absolute;
      left: 0;
      bottom: 0;
      margin-bottom: 0;
    }
  }

  .pagination {
    @include body-small();
    font-weight: $font-weight-bold;
    color: $gray-500;
    margin: 0;

    &.first-page {
      .page-previous {
        display: none;
      }
    }

    &.last-page {
      .page-next {
        display: none;
      }
    }

    .page-item {
      margin-right: 11px;

      &.hide {
        display: none;
      }

      .page-icon {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        margin: 0;
        border: none;

        svg {
          height: 16px;
        }
      }

      .page-link {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
        color: $gray-500;
        margin: 0;
        border: none;
        border-radius: 4px;

        &:focus,
        &.active {
          color: white;
          background-color: $doi-primary;
          text-decoration: none;
          box-shadow: none;
        }

        &:hover {
          color: white;
          background-color: $doi-primary-hover;
          text-decoration: none;
          box-shadow: none;
        }
      }
    }
  }
}

.doi-table {
  .table {
    thead {
      border: none;
      font-weight: $font-weight-bold;

      .header-title {
        padding: 1.375rem 1.5rem;
      }
    }

    .table-header {
      white-space: nowrap;

      &.hide {
        display: none;
      }
    }

    tbody {
      border-top: none;

      @include media-breakpoint-down(lg) {
        tr {
          display: flex;
          flex-direction: column;
        }
        td:last-child {
          border-bottom: 1px solid $gray-400;
        }
        td:not(:last-child) {
          border-bottom: none;
        }
      }

      .table-content {
        padding: 0.75rem 0 0.75rem 1.5rem;
      }

      .content-title {
        &.hide {
          display: none;
        }
      }
    }
  }
}

.publication {

  .publication-container {
    @include heading-extra-small-caps();
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid $gray-300;

    &:first-of-type {
      border-top: 2px solid $gray-300;
    }

    &:last-of-type {
      border-bottom: none;
    }

    .publication-title {
      display: block;
      margin-bottom: 1rem;
    }

    .topic-button {
      border: 1px solid $gray-600;
      border-radius: 20px;
      background: transparent;
      margin-right: 0.25rem;
      margin-bottom: 0.5rem;
      span {
        color: $gray-600;
        display: block;
        padding-left: 0.25rem;
        padding-right: 0.25rem;
      }
    }

    .publisher-title {
      display: block;
      margin-bottom: 1.5rem;
    }

    .publisher-subtitle {
      @include heading-small();
      display: block;
      margin-bottom: 1rem;
    }

    .publisher-content {
      @include heading-extra-small();
      line-height: 26px;
      font-weight: $font-weight-base;
      text-transform: initial;
      display: block;
      margin-bottom: 1rem;
    }

    .btn-primary {
      font-weight: $font-weight-semi-bold;
      padding: 8px 35px 8px 35px;
    }

    .description-container {
      color: $gray-400;
      text-transform: uppercase;
    }
  }

  .icon-container {
    span {
      display: inline-block;
      margin-right: 2rem;
    }
  }

  .pdf-container {
    display: flex;
    border-bottom: 1px solid $gray-300;
    padding: 10px 0;
    align-items: center;

    &:last-of-type {
      border-bottom: none;
    }

    .pdf-title {
      @include body-small();
      color: black;
      text-transform: initial;
    }
  }

  @include media-breakpoint-up(md) {
    width: 310px;
  }
}

.form-inputs {
  //TODO: THIS IS TEMPORARY
  .form-input {
    padding: 11px 0.75rem 11px 1rem;
  }

  .form-control {
    padding-left: 1rem;
  }

  .input-container {
    margin-right: 2.5rem;
    margin-bottom: 1rem;

    .bootstrap-select {
      margin-bottom: 0;
    }

    &.show {

      .form-input {
        border: 1px solid $red-500;
      }

      .error-container {
        display: flex;
        align-items: center;

        span {
          display: flex;
          align-items: flex-end;
          color: $red-500;
          margin-right: 0.5rem;
        }
      }
    }
  }

  .error-container {
    display: none;
  }

  input {
    &:focus {
      box-shadow: none;
      border: 1px solid $doi-primary;
    }
  }

  .check-container {
    margin-right: 1rem;
  }

  .form-check-input {
    [type=checkbox] {
      border-radius: 2px;
    }

    &:focus {
      box-shadow: none;
    }

    &:checked[type=radio] {
      background-color: white;
    }
  }

  @include media-breakpoint-up(md) {
    .inputs-container {
      display: flex;
    }

    .input-container {
      width: 327px;
      height: 48px;
    }
  }
}

.horizontal-timeline {
  --max_height: 120px;
  --max_width: 144px;
  --border_height: 89px;
  height: 500px;
  overflow: scroll;
  position: relative;


  .timeline-title {
    margin-right: 1rem;
    padding-bottom: calc(var(--max_height) + 20px);
    position: sticky;
    top: 0;
    left: 0;
  }

  .horizontal-timeline-container {
    transform: translateY(20%);
  }

  p {
    height: var(--max_height);
    line-height: 24px;
    max-height: var(--max_height);
    margin-left: 12.5px;
    margin-top: var(--border_height);
    overflow: scroll;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    display: flex;
  }

  .timelines-container {
    display: flex;
    position: relative;
    margin-top: 45px;

    .timeline-container {
      width: var(--max_width);
      height: var(--max_height);
      position: relative;
      border-top: 5px solid $doi-promo;
    }

    .timeline-container:before {
      content: "";
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #3e837c;
      width: 25px;
      height: 25px;
      top: 0;
      z-index: 10;
      left: 0;
      transform: translateY(calc(-50% - 2.5px));
    }

    .border-container {
      border-left: 1px solid black;
      height: var(--border_height);
      width: 100%;
      position: absolute;
      margin-left: 12px;
    }

    .title-container {
      position: absolute;
      bottom: 0;
      margin-bottom: calc(var(--max_height) + 10px);
      margin-left: 12.5px;
    }

    .timeline-content {
      width: var(--max_width);
    }
  }

  li:nth-child(odd) {
    .border-container {
      position: absolute;
      bottom: 0;
      margin-bottom: var(--max_height);
    }

    .title-container {
      width: 200px;
      position: relative;
      margin: 1.25rem 0 0 12.5px;
    }

    .timeline-content {
      p {
        overflow: scroll;
        position: absolute;
        bottom: 0;
        margin-bottom: calc(var(--max_height) + var(--border_height));
        margin-left: 12.5px;
      }
    }
  }

  @include media-breakpoint-up(lg) {
    --max_width: 200px;
    display: flex;
    align-items: center;
    padding-top: 0;

    .timeline-title {
      padding-bottom: 0;
    }
  }


}

.vertical-timeline {

  p {
    margin: 0;
    padding-top: 10px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    position: relative;
    display: flex;
  }

  .timelines-container {
    position: relative;

    .timeline-container {
      position: relative;
      border-left: 5px solid $doi-promo;
      margin-left: 2rem;
      padding: 1.5rem 0 1rem 30px;
    }

    .timeline-container:before {
      content: '';
      background: white;
      display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid $doi-secondary;
      width: 25px;
      height: 25px;
      top: 0;
      z-index: 10;
      left: 0;
      transform: translateX(calc(-50% - 2.5px));
    }

    .border-container {
      border-bottom: 1px solid black;
      width: 40px;
      position: absolute;
      margin-left: 5rem;
      margin-top: 0.8rem;
    }

    .title-container {
      width: 52px;
      transform: translateY(-2.5px)
    }
  }

  @include media-breakpoint-up(md) {
    .timelines-container {
      margin-top: 6.5rem;

      .timeline-container {
        padding: 1.5rem 0 1rem 44px;
      }

      .border-container {
        width: 89px;
      }
    }
  }
}

.callout-textbox {
  .callout-container {
    background-color: $doi-light-blue;
    border-radius: 32px;
    padding: 3rem;
  }

  .callout-title {
    @include heading-extra-small-caps();
    color: $doi-primary;
    margin-bottom: 1rem;
  }

  .callout-subtitle {
    @include heading-small();
    line-height: 26px;
    font-weight: $font-weight-semi-bold;
    color: $doi-secondary;
    margin-bottom: 1rem;
  }

  .callout-content {
    @include heading-extra-small();
    font-weight: $font-weight-base;
    color: $gray-600;

    ul {
      @include heading-extra-small();
      font-weight: $font-weight-base;
      margin-left: 0;

      li::marker {
        color: currentColor;
      }
    }
  }

  @include media-breakpoint-up(md) {
    .callout-subtitle {
      @include heading-medium();
      line-height: 32px;
    }

    .callout-content {
      font-size: 18px;
      font-weight: $font-weight-base;
      line-height: 28px;
    }
  }
}

.media {
  .media-description {
    font-weight: $font-weight-bold;
    margin-top: 15px;
    margin-bottom: 8px;
    text-align: right;
    cursor: pointer;

    .open {
      display: none;
    }

    .close {
      display: inline-block;
    }

    &[aria-expanded=false] {
      .open {
        display: inline-block;
      }

      .close {
        display: none;
      }
    }
  }

  #mediaDescription {
    .description-content {
      width: 100%;
      display: flex;
      justify-content: flex-end;

      p {
        max-width: 838px;
        text-align: justify;
      }
    }
  }
}

.blockquote {
  .blockquote-content {
    text-align: center;

    &.left-align {
      text-align: left;

      blockquote {
        text-align: left;
      }

      cite {
        margin-left: 1rem;
      }
    }
  }

  blockquote {
    font-size: 24px;
  }

}

.gallery {

  .img-outer {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
  }

  .img-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
  }

  .splide__arrow {
    background: transparent;
    display: none;

    @include media-breakpoint-up(md) {
      display: flex;
    }
  }

  .splide-gallery-main {
    margin-bottom: 18px;

    .splide__slide {
      .img-outer {
        transform: scale(0.9);
        transition: transform 150ms ease-in-out;
      }

      &.is-active {
        .img-outer {
          transform: scaleX(1.05);
        }
      }
    }

    .splide__arrow {
      svg {
        height: 34px;
        width: auto;

        path {
          fill: #fff;
        }
      }
    }

    .splide__arrow--prev {
      left: 40px;
    }

    .splide__arrow--next {
      right: 40px;
    }

    @include media-breakpoint-up(lg) {
      .splide__arrow--prev {
        left: 75px;
      }

      .splide__arrow--next {
        right: 75px;
      }
    }
  }

  .splide-gallery-thumbnail {
    padding: 0;
    margin-bottom: 8px;

    @include media-breakpoint-up(md) {
      padding: 0 2rem;
    }

    img {
      vertical-align: top;
    }

    .splide__slide.is-active {
      border: 2px solid $doi-action;
      border-radius: 4px;
      padding: 2px;
      transition: all 150ms ease-in-out;

      @include media-breakpoint-up(md) {
        padding: 4px;
      }
    }

    .splide__arrow {
      svg {
        height: 18px;
        width: auto;
      }
    }

    .splide__arrow--prev {
      left: 0;
    }

    .splide__arrow--next {
      right: 0;
    }
  }

  .gallery-footer {
    margin: 0 auto;
    width: calc(100% - 100px);

    @include media-breakpoint-up(md) {
      width: calc(100% - 160px);
    }

    @include media-breakpoint-up(lg) {
      width: calc(100% - 200px);
    }
  }

  .gallery-description {
    font-weight: $font-weight-bold;
    margin-bottom: 8px;
    text-align: right;

    .open {
      display: none;
    }

    .close {
      display: inline-block;
    }

    &[aria-expanded=false] {
      .open {
        display: inline-block;
      }

      .close {
        display: none;
      }
    }
  }
}